.app-container{
  display: flex;
}
.content{
  width:100%
}

.sidebar{
  height:100vh;
}

.post-container, .add-post{
  padding: 1rem;
}

.card{
  margin: 2rem;
  max-width: 600px;
}
.ml-3{
  margin-left: 12px;
}

.mr-3{
  margin-right: 12px;
}

.mt-3{
  margin-top: 12px;
}
